{% extends 'base.html.twig' %}

{% block title %}Hello EspaceVipController!{% endblock %}

{% block body %}
    <hgroup>
    <h1>Les codes promos</h1>
    <h3>Espace VIP</h3>
</hgroup>

<article>
    <h2>lorem.xyz <mark>50 %<mark></h2>
    <kbd>#458YZ589</kbd>
</article>
<article>
    <h2>ipsum.xyz <mark>30 %<mark></h2>
    <kbd>#123YZ456</kbd>
</article>
{% endblock %}
